 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Have a startup idea? Woud you like to learn practical skills that will allow you to create web and mobile applications?</p>
                    <p>codeschool.berlin will teach you the skills you need to create amazing web applications.</p>
                </div>
                <div class="col-lg-4">
                    <p>During our 6 weeks program, you will learn the basics of database development, coding in ruby on rails, designing using css and sass, and web development techniques such as version control and continuous deployment.</p>
                </div>
            </div>
        </div>
    </section>