 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Tutor</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pascal is a senior full-stack developer, specialised in rails and angular, and has been developing applications for more than 10 years, in a variety of settings. He is currently involved a CTO in a few startups, and has a passion for teaching, which made him volunteer to teach at railsgirls berlin.</p>
                </div>
                <div class="col-lg-4">
                    <p>Applications he has been working on recently include <a style="color:white;text-decoration:underline" href="http://soundfluence.com" target="_blank">soundfluence.com</a>, <a style="color:white;text-decoration:underline" target="_blank">onvisor.com</a>, and many other. He is also currently a consultant for the Medical Schools Council in the UK. His linkedIn profile is available <a href="https://www.linkedin.com/in/pbelouin" style="color:white;text-decoration:underline" target="_blank">here</a></p>
                </div>
            </div>
        </div>
    </section>