    <!-- Header -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <div class="btn-group" role="group" aria-label="...">
                     <button type="button" class="btn btn-default">Left</button>
                     <button type="button" class="btn btn-default">Middle</button>
                     <button type="button" class="btn btn-default">Right</button>
                   </div>
                </div>
            </div>
        </div>
    </section>