
    <!-- Portfolio Grid Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Program</h2>
                    <hr class="star-primary">
                    <p>Things are always more interesting when you work on your own project. Our program is designed to allow you to explore every aspect of web development, from database design to design and project management. At the end of the course, you will be able to fly with your own wings.</p>
                </div>
            </div>
            <div class="row">
                {% assign page_index = 1 %}
                    {% for page in site.course_weeks %}
                    <div class="col-sm-6 col-md-6 col-lg-4 portfolio-item">
                        <a href="{{page.url}}">
                            <div class="caption">
                            </div>
                            <img src="img/portfolio/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}">
                            <h4>Week {{page_index}}<br>{{page.tagline}}</h4>
                            <br>
                        </a>
                    </div>
                    {% assign page_index = page_index | plus: 1 %}
                {% endfor %}
            </div>
        </div>
    </section>