
    <!-- Portfolio Grid Section -->
    <section id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our programme</h2>
                    <hr class="star-primary">
                    <h3 class="text-left">Overview</h3>
                    <p class="text-left">Our programmeme is designed to allow you to explore every aspect of web development, from database design to front-end coding and project management. To make this possible, we think it is important to keep you motivated by working on a real app that you have scoped yourself at the beginning of the course. Although you can expert to work on your main project during the whole length of the course, We divided the programme in 9 main topics, which you can see and explore below.</p>
                    <h3 class="text-left">Schedule</h3>
                    <p class="text-left">
                    Classes starts at 10:00 and lasts until 17:00, with a break from 13:00 to 14:00 from Monday to Thursday. On Fridays, the class only takes place from 10:00 to 13:00 (So you have friday afternoons free, yay!). You will also be expected to do a little bit of homework once in a while.
                    </p>
                    <h3 class="text-left">Resources</h3>
                    <p class="text-left">
                    Students will be provided with access to the school's <a href="https://slack.com/" target="_blank">slack</a> channel, and to our special online stash of course-related resources.<b> Please also note that the School doesn't provide computers, so you will have to use your own!</b>
                    </p>
                    <h3 class="text-left">Additional Information</h3>
                    <p class="text-left">
                    Our next course will begin on the 5th of June 2016. We want to provide each student with as much attention as required during this intense 9 weeks. Thus, we only take 9 students per class. The tuition cost is of €3000 for the whole programme. 
                    </p>
                </div>
            </div>
            <div class="row">
                {% assign page_index = 1 %}
                    {% for page in site.course_weeks %}
                    <div class="col-sm-6 col-md-6 col-lg-4 portfolio-item">
                        <a href="{{page.url}}">
                            <div class="caption">
                            </div>
                            <img src="img/portfolio/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}">
                            <h4>Week {{page_index}}<br>{{page.tagline}}</h4>
                            <br>
                        </a>
                    </div>
                    {% assign page_index = page_index | plus: 1 %}
                {% endfor %}
            </div>
        </div>
    </section>